---
layout: blog/page
---


{% for post in site.categories[page.category]  %}
{% if post.url %}
<!-- Post -->
<article class="post">
    <header>
        <div class="title">
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <p>{{ post.lead }}</p>
        </div>
        <div class="meta">
            <time class="published" datetime="{{ post.datetime }}">{{ post.post_date }}</time>
        </div>
    </header>

    <div>
        <a href="{{ post.url }}">
            <img class="img-fluid" src="{{ post.img }}" alt="" />
        </a>
    </div>

    <footer>
        <ul class="actions">
            <li><a href="{{ post.url }}" class="button large">Continue Reading</a></li>
            <li><a href="{{ post.gallery_url }}" class="button large">Image Gallery</a></li>
            <li><a href="{{ post.google_map_short_url }}" class="button large" target="_blank">Google Map</a></li>
        </ul>
    </footer>
</article>
{% endif %}
{% endfor %}