<style>
    .locationName {
        text-transform: uppercase;
    }
</style>

<!-- Sidebar -->
<section id="sidebar">

    <!-- Intro -->
    <section id="intro">

        <div class="card text-white bg-secondary mb-3">
            <div class="card-header"><h2><span class="text-white text-center"> {{ page.title }}</span></h2></div>
            <div class="card-body">
                <p class="card-text text-white">{{ page.lead }}</p>
<!--                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
            </div>
        </div>

<!--        <div class="card bg-dark text-white">-->
<!--            <img src="..." class="card-img" alt="...">-->
<!--            <div class="card-img-overlay">-->
<!--                <h2 class="card-title">{{ page.title }}</h2>-->
<!--                <p class="card-text">{{ page.lead }}</p>-->
<!--            </div>-->
<!--        </div>-->
    </section>

    <!-- Mini Posts -->
    <section>
        <div class="mini-posts">

            <!-- Mini Post -->
            <article class="mini-post">
                <a class="weatherwidget-io" href="{{ page.weather_url }}" data-label_1="{{ page.category }}" data-label_2="WEATHER" data-theme="gray" >{{ page.category }} WEATHER</a>


            </article>

            <!-- Mini Post -->
            <article class="mini-post">
                <header>
                    <h3><a href="single.html">Rutrum neque accumsan</a></h3>
                    <time class="published" datetime="2015-10-19">October 19, 2015</time>
                    <a href="#" class="author"><img src="images/avatar.jpg" alt="" /></a>
                </header>

            </article>

            <!-- Mini Post -->
            <article class="mini-post">
                <header>
                    <h3><a href="single.html">Odio congue mattis</a></h3>
                    <time class="published" datetime="2015-10-18">October 18, 2015</time>

                </header>

            </article>

            <!-- Mini Post -->
            <article class="mini-post">
                <header>
                    <h3><a href="single.html">Enim nisl veroeros</a></h3>
                    <time class="published" datetime="2015-10-17">October 17, 2015</time>

                </header>

            </article>

        </div>
    </section>

    <!-- Posts List -->
    <section>
        <ul class="posts">
            <li>
                <article>
                    <header>
                        <h3><a href="single.html">Lorem ipsum fermentum ut nisl vitae</a></h3>
                        <time class="published" datetime="2015-10-20">October 20, 2015</time>
                    </header>

                </article>
            </li>
            <li>
                <article>
                    <header>
                        <h3><a href="single.html">Convallis maximus nisl mattis nunc id lorem</a></h3>
                        <time class="published" datetime="2015-10-15">October 15, 2015</time>
                    </header>

                </article>
            </li>
            <li>
                <article>
                    <header>
                        <h3><a href="single.html">Euismod amet placerat vivamus porttitor</a></h3>
                        <time class="published" datetime="2015-10-10">October 10, 2015</time>
                    </header>

                </article>
            </li>
            <li>
                <article>
                    <header>
                        <h3><a href="single.html">Magna enim accumsan tortor cursus ultricies</a></h3>
                        <time class="published" datetime="2015-10-08">October 8, 2015</time>
                    </header>

                </article>
            </li>
            <li>
                <article>
                    <header>
                        <h3><a href="single.html">Congue ullam corper lorem ipsum dolor</a></h3>
                        <time class="published" datetime="2015-10-06">October 7, 2015</time>
                    </header>

                </article>
            </li>
        </ul>
    </section>




</section>