<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">European Vacation 2019</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Bologna 2017
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                        <a class="dropdown-item" href="/travel/bologna/index.html">Blog</a>
                        <a class="dropdown-item" href="/travel/bologna/gallery.html">Gallery</a>
                        <a class="dropdown-item" href="/travel/bologna/map.html">Map</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Paris
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                        <a class="dropdown-item" href="/travel/paris/index.html">Blog</a>
                        <a class="dropdown-item" href="/travel/paris/gallery.html">Gallery</a>
<!--                        <a class="dropdown-item" href="/travel/paris/map.html">Map</a>-->
                        <a class="dropdown-item" href="/travel/paris/sites.html">Sites Map</a>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" href="/travel/salzburg/index.html">Salzburg</a></li>
                <li class="nav-item"><a class="nav-link" href="/travel/berlin/index.html">Berlin</a></li>
                <li class="nav-item"><a class="nav-link" href="/travel/amsterdam/index.html">Amsterdam</a></li>
            </ul>
        </div>
    </div>
</nav>

